*.log
/*
!/.gitignore
!/wp-cli.phar
!composer.json
!readme.md
!LICENSE
!package.json
!webpack.mix.js
!/src
!/html
/html/wp-content

#wp-content
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/twentytwenty/
