#banner {
  .carousel {
    &.has-cap {
      .carousel-item {
        .container {
          position: relative;
          .carousel-caption {
            position: absolute;
            right: 20px;
            bottom: 0;
            left: 20px;
            z-index: 10;
            color: #fff;
            text-align: left;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 7%, transparent 75%);
            text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
            padding: 10px 15px;
            h1 {
              font-size: 22px;
              font-weight: 800;
              margin: 0;
            }
            p {
              font-size: 14px;
              font-weight: 300;
              margin: 0;
            }
            @media (min-width: 768px) {
              padding: 15px 30px;
              h1 {
                font-size: 30px;
              }
              p {
                font-size: 20px;
              }
            }
            @media (min-width: 992px) {
              padding: 20px 35px;
              h1 {
                font-size: 40px;
              }
              p {
                font-size: 30px;
              }
            }
            @media (min-width: 1200px) {
              padding: 20px 40px;
              h1 {
                font-size: 60px;
              }
              p {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  .carousel-inner {
    .carousel-caption {
      label {
        font-size: 13px;
        @media (min-width: 768px) {
          font-size: 15px;
        }
        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
      h1 {
        font-size: 25px;
        @media (min-width: 768px) {
          font-size: 40px;
        }
        @media (min-width: 992px) {
          font-size: 60px;
        }
      }
    }
    .carousel-item {
      @include media-breakpoint-down(xs) {
        background-size: cover;
        background-position: center;
        height: 360px;
        >a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          font-size: 0;
        }
      }

      @media (max-width: 359px) {
        height: 300px;
      }
    }
  }
  > .container {
    @include media-breakpoint-down(sm) {
      padding: 0;
      max-width: 100%;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    width: 80px;
    top: 50%;
    margin-top: -25px;
    height: 50px;
  }
}

//btn-discover
@keyframes play18 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6840px 0px;
  }
}
#btn-discover {
  animation-duration: 1800ms;
  animation-timing-function: steps(18);
  animation-iteration-count:infinite;
  width: 380px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  left: 40px;
  bottom: 70px;
  background-color: transparent;
  border: none;
  font-size: 0;

  @include media-breakpoint-up(xl) {
    left: 70px;
    bottom: 155px;
  }
}
#btn-discover.play {
  animation-name: play18;
}
