header {
  background: #33333378;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #ff1945;
    }
  }

  &.sticky {
    #nav-top-line {
      height: 0;
      opacity: 0;
      transition: height 0.3s;
    }
  }
}

#nav-main {
  &.navbar-dark {
    background: #3333339e;
    @include media-breakpoint-up(md) {
      height: 50px !important;
    }
    .container {
      height: 100%;
      .navbar-brand {
        height: 100%;
        padding: 0;
        img {
          max-height: 100%;
        }
      }
    }
  }
  .nav-link {
    padding: 10px 25px;
    text-align: center;
  }
}

#nav-top-line {
  height: 42px;
  > .container {
    border-bottom: 1px solid #ffffff33;
    ul {
      margin: 0;
      padding: 10px 0;
    }
    input,
    button {
      background: transparent;
      border: none;
      color: #fff;
    }
    input {
      &::placeholder {
        color: #ffffffed;
      }
      max-width: 100px;
    }
  }
}

#nav-main {
  &.navbar-dark {
    @include media-breakpoint-up(md) {
      height: 70px;
    }
  }

  .navbar-brand {
    img {
      max-width: 110px;
      max-height: 65px;
      transition: all 0.3s;
    }
  }

  ul {
    &.navbar-nav {
      .nav-item {
        a {
          &.nav-link {
            color: #fff !important;
            font-size: 18px;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
          }
          &:after {
            content: "";
            border-bottom: 1px solid #fff;
            bottom: 2px;
            width: 0;
            left: 0;
            margin: 0 auto;
            position: relative;
            display: block;
          }
        }
        &.active,
        &:hover {
          a::after {
            width: 100%;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    #nav-top-line {
      display: none;
    }
    #nav-top-line2 {
      display: block;
    }
  }
}

.navbar-collapse {
  transition: all 0.3s ease;
}

#header {
  background: #ffffff;
}

#header-top {
  background: #1c1c1c;
  font-size: 12px;
  ul {
    margin: 0;
    padding: 7px 0;
  }
  input,
  button {
    background: transparent;
    border: none;
    color: #fff;
  }
  input {
    &::placeholder {
      color: #ffffffed;
    }
    max-width: 100px;
    border-bottom: 1px solid #efefef;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.sticky + .placeholder-content {
  padding-top: 90px;

  @include media-breakpoint-up(md) {
    padding-top: 185px;
  }
}

#header-menu {
  background: #ffffff;
  transition: all .3s ease-in-out;

  * {
    transition: all .3s ease-in-out;
  }

  .navbar-brand {
    img {
      max-height: 50px;
    }

    +.navbar-brand {
      margin-left: 5px;
    }
  }

  .navbar-nav {
    margin-left: auto;
  }

  &:not(.sticky) {
    text-align: center;
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
    box-shadow: none!important;

    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .container {
      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .navbar-brand {
      img {
        max-width: 110px;
        max-height: none;

        @include media-breakpoint-up(md) {
          max-width: 150px;
        }
      }
    }

    .navbar-nav {
      margin-left: 0;
    }

    .navbar-collapse {
      justify-content: center;
      margin-top: 10px;
    }

    .nav-link {
      font-size: 16px;
      @include media-breakpoint-up(md) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .nav-link {
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 600;
  }

  ul {
    &.navbar-nav {
      .nav-item {
        a {
          &.nav-link {
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
          }
          &:after {
            content: "";
            border-bottom: 2px solid #ff1945;
            bottom: 0;
            width: 0;
            left: 0;
            margin: 0 auto;
            position: relative;
            display: block;
          }
        }
        
        &.active,
        &:hover {
          a::after {
            width: 100%;
            transition: all 0.4s ease;
          }
        }
      }

      input,
      button {
        background: transparent;
        border: none;
      }
      input {
        &::placeholder {
          color: #4e4e4e;
        }

        max-width: calc(100% - 30px);
        width: 100%;
        border-bottom: 1px solid #4e4e4e;
        border-radius: 0;
      }

      @include media-breakpoint-down(md) {
        text-align: left;

        .lang-item {
          span {
            color: #4e4e4e;
          }
        }
      }
    }
  }

  .navbar-toggler {
    background: #f6f6f6;
  }
}