main {
  #banner {
    .carousel-inner {
      .carousel-caption {
        label {
          font-size: 13px;
          @media (min-width: 768px) {
            font-size: 15px;
          }
          @media (min-width: 992px) {
            font-size: 16px;
          }
        }
        h1 {
          font-size: 25px;
          @media (min-width: 768px) {
            font-size: 40px;
          }
          @media (min-width: 992px) {
            font-size: 60px;
          }
        }
      }
    }
  }
  .galleries {
    .gallery {
      padding: 10px;
      .link-gallery {
        &:hover {
          .image-mask {
            &:before,
            &:after {
              height: calc(100% - 20px);
              max-height: 100%;
              width: calc(100% - 20px);
              max-width: 100%;
            }
            img {
              filter: blur(1.2px) brightness(80%);
            }
          }
        }
        &-image {
          figure {
            text-align: center;
            overflow: hidden;
            margin: 0;
            .image-mask {
              position: relative;
              img {
                filter: brightness(85%);
              }
              &:before,
              &:after {
                content: "";
                height: 20%;
                max-height: 45px;
                width: 20%;
                max-width: 45px;
                position: absolute;
                z-index: 9;
                transition: all 0.3s;
              }
              &:before {
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                top: 10px;
                left: 10px;
              }
              &:after {
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                border-top: none;
                border-left: none;
                bottom: 10px;
                top: auto;
                right: 10px;
                left: auto;
              }
            }
          }
        }
        &-text {
          font-size: 15px;
          font-weight: 900;
          color: #fff;
          text-align: center;
          text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          position: absolute;
          left: 50%;
          @media (min-width: 768px) {
            font-size: 17px;
          }
          @media (min-width: 992px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  .gallery-cards {
    .gallery {
      padding: 10px;
      .link-gallery {
        color: #333;
        &:hover {
          .link-gallery-image {
            figure.image {
              &:before,
              &:after {
                height: calc(100% - 20px);
                max-height: 100%;
                width: calc(100% - 20px);
                max-width: 100%;
                opacity: 0.85;
              }
              .image-mask {
                filter: blur(1.2px) brightness(80%);
              }
            }
            &-text {
              &-label {
                visibility: hidden;
              }
              &-content {
                visibility: visible;
              }
            }
          }
        }
        &-image,
        &-desc {
          position: relative;
          max-width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
        &-image {
          figure.image {
            text-align: center;
            overflow: hidden;
            margin: 0;
            position: relative;
            &:before,
            &:after {
              content: "";
              height: 20%;
              max-height: 45px;
              width: 20%;
              max-width: 45px;
              position: absolute;
              z-index: 9;
              opacity: 0.7;
              transition: all 0.3s;
            }
            &:before {
              border-top: 1px solid #fff;
              border-left: 1px solid #fff;
              top: 10px;
              left: 10px;
            }
            &:after {
              border-right: 1px solid #fff;
              border-bottom: 1px solid #fff;
              border-top: none;
              border-left: none;
              bottom: 10px;
              top: auto;
              right: 10px;
              left: auto;
            }
            .image-mask {
              position: relative;
              width: 100%;
              max-width: 300px;
              height: 400px;
              background-size: cover !important;
              filter: brightness(90%);
            }
          }
          &-text {
            &-label {
              font-size: 20px;
              font-weight: 900;
              text-align: center;
            }
            &-content {
              font-size: 14px;
              text-align: justify;
              visibility: hidden;
            }
            padding: 20px;
            color: #fff;
            text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 20px);
            position: absolute;
            left: 50%;
          }
        }
        &-desc {
          padding: 10px 0;
          h3 {
            font-size: 20px;
            font-weight: 800;
            margin: 0;
            color: #ff1945;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .gallery-small-cards {
    .gallery {
      padding: 10px;
      .link-gallery {
        color: #333;
        &:hover {
          .link-gallery-image {
            figure.image {
              &:before,
              &:after {
                height: calc(100% - 20px);
                max-height: 100%;
                width: calc(100% - 20px);
                max-width: 100%;
                opacity: 0.85;
              }
              .image-mask {
                filter: blur(1.2px) brightness(80%);
              }
            }
            &-text {
              &-label {
                visibility: hidden;
              }
              &-content {
                visibility: visible;
              }
            }
          }
        }
        &-image,
        &-desc {
          position: relative;
          max-width: 250px;
          margin-left: auto;
          margin-right: auto;
        }
        &-image {
          figure.image {
            text-align: center;
            overflow: hidden;
            margin: 0;
            position: relative;
            &:before,
            &:after {
              content: "";
              height: 20%;
              max-height: 45px;
              width: 20%;
              max-width: 45px;
              position: absolute;
              z-index: 9;
              opacity: 0.7;
              transition: all 0.3s;
            }
            &:before {
              border-top: 1px solid #fff;
              border-left: 1px solid #fff;
              top: 10px;
              left: 10px;
            }
            &:after {
              border-right: 1px solid #fff;
              border-bottom: 1px solid #fff;
              border-top: none;
              border-left: none;
              bottom: 10px;
              top: auto;
              right: 10px;
              left: auto;
            }
            .image-mask {
              position: relative;
              width: 100%;
              max-width: 250px;
              height: 180px;
              background-size: cover !important;
              -webkit-filter: brightness(90%);
              filter: brightness(90%);
            }
          }
          &-text {
            &-label {
              font-size: 20px;
              font-weight: 900;
              text-align: center;
            }
            &-content {
              font-size: 14px;
              text-align: justify;
              visibility: hidden;
            }
            padding: 20px;
            color: #fff;
            text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 20px);
            position: absolute;
            left: 50%;
          }
        }
        &-desc {
          padding: 10px 0;
          h3 {
            font-size: 20px;
            font-weight: 800;
            margin: 0;
            color: #ff1945;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
  article {
    margin-bottom: 20px;
    &:hover {
      .feature-img {
        &:after {
          opacity: 0.8 !important;
        }
      }
    }
    .post {
      display: block;
      overflow: hidden;
      background-size: cover;
      background-position: 50%;
      position: relative;
      &-lg {
        height: 205px;

        .entry {
          padding: 10px;
          .post-category {
            font-size: 12px;
          }
          .entry-title {
            font-size: 18px;
            font-weight: bolder;
          }
          .entry-desc {
            font-size: 14px;
          }
        }
        @media (min-width: 768px) {
          height: 430px;
          .entry {
            padding: 15px;
            .post-category {
              font-size: 14px;
            }
            .entry-title {
              font-size: 36px;
              font-weight: bolder;
            }
            .entry-desc {
              font-size: 18px;
            }
          }
        }
      }
      &-md {
        height: 205px;
        .entry {
          padding: 10px;
          .post-category {
            font-size: 13px;
          }
          .entry-title {
            font-size: 16px;
            font-weight: bolder;
          }
          .entry-desc {
            font-size: 10px;
            display: none;
          }
        }
      }
      &-sm {
        height: 100px;
      }
      &.feature-img {
        z-index: 100;
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            45deg,
            rgba(25, 25, 25, 0.88) 10%,
            rgba(190, 190, 190, 0.19) 90%,
            rgba(25, 25, 25, 0.05) 100%
          );
          transition: opacity 0.45s;
          opacity: 0.5;
          z-index: 101;
        }
      }
      .entry {
        z-index: 102;
        position: absolute;
        bottom: 0;
        color: #fff;
      }
    }
  }

  // destination page
  #map {
    filter: drop-shadow(1px 1px 0.7px rgba(0, 0, 0, 0.5));
    #area-color {
      path {
        stroke: rgba(247, 56, 56, 0.47);
        stroke-width: 0.325;
      }
    }
    #area-mask {
      path {
        opacity: 0;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover,
        &.is-active {
          stroke: #522c0c;
          opacity: 0.8;
          stroke-width: 0.6;
          fill: transparent;
        }
      }
    }
  }
  #map-text {
    font-size: 12.5px;
    @media (min-width: 576px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
    a {
      &.map-spot {
        font-weight: bold;
        cursor: pointer;
        transition-duration: 0.3s;
        text-shadow: 2px 0 1px rgba(255, 255, 255, 0.3);
        position: absolute;
        &.is-active {
          transform: scale(1.1);
        }
        &.hokkaido {
          color: #3c688e;
          top: 10%;
          left: 50%;
          @media (min-width: 576px) {
            left: 59%;
          }
        }
        &.tohoku {
          color: #1390b9;
          top: 40%;
          left: 77%;
        }
        &.kanto {
          color: #437b5d;
          top: 60%;
          left: 71%;
          @media (min-width: 768px) {
            left: 73%;
          }
        }
        &.chubu {
          color: #83903f;
          top: 50%;
          left: 36%;
          @media (min-width: 576px) {
            left: 40%;
          }
          @media (min-width: 768px) {
            left: 46%;
            top: 47%;
          }
        }
        &.shikoku {
          color: #fa876e;
          top: 75%;
          left: 35%;
        }
        &.kinki {
          color: #c39e4e;
          top: 69%;
          left: 50%;
        }
        &.chugoku {
          color: #bd7f4c;
          top: 57%;
          left: 14%;
          @media (min-width: 576px) {
            top: 59%;
            left: 18%;
          }
        }
        &.kyushu-okinawa {
          color: #ce5786;
          bottom: 4%;
          left: 6%;
          @media (min-width: 576px) {
            bottom: 12%;
            left: 4%;
          }
        }
      }
    }
  }
  .top-dest {
    .top-dest-title {
      h2 {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 5px;
        i {
          color: #ff264a;
        }
      }

      @media (min-width: 768px) {
        font-size: 26px;
      }
    }
    .top-dest-map {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .top-dest-text {
      ul {
        list-style: none;
        padding: 0;
        li {
          .rating-icon {
            width: 12px;
            height: 12px;
            margin-right: 2px;
            margin-top: -3px;
          }
          h3 {
            font-size: 14px;
            font-weight: 900;
          }
        }
        li:not(:last-child) {
          margin-bottom: 15px;
          @media (min-width: 768px) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .top-interest {
    ul {
      list-style: none;
      padding: 0;
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      li:not(:last-child) {
        margin-bottom: 15px;
        @media (min-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }
    .top-interest-icon {
      width: 20px;
      height: 20px;
      margin-top: -5px;
      margin-right: 15px;
    }
  }
  #survey {
    label {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center left;
      display: block;
      color: #fff;
      padding-left: 3px;
      margin: 2.5px;
      width: calc(50% - 10px);
      max-width: 160px;
      height: 50px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 15px;
        font-weight: 900;
        height: 60px;
        margin: 5px;
        padding-left: 10px;
      }
      input {
        display: none;
        &:checked + span {
          i {
            opacity: 1;
            color: #85de1e;
          }
          text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.9);
        }
      }
      i {
        opacity: 0.3;
      }
      &:hover {
        i {
          opacity: 1;
        }
      }
    }
  }
  article-2 {
    .post-normal {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .feature-img {
        width: 125px;
        height: 90px;
        background-size: cover;
      }
      .entry {
        width: calc(100% - 125px);
        padding: 0 10px;
        .post-category {
        }
        .entry-title {
          margin: 0;
          font-size: 14px;
          font-weight: 900;
        }
      }
    }
  }
}

footer {
  &#footer {
    background-color: #f6f6f6;
  }
  &#copyright {
    background-color: #dfdfdf;
  }
  h4 {
    font-size: 18px;
    font-weight: 900;
  }
  ul {
    font-size: 13px;
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 10px;
    }
    .input-group {
      .form-control {
        font-size: 13px;
      }
      .input-group-append {
        button {
          padding: 0 10px;
        }
      }
    }
  }
}

.navbar-collapse {
  transition: all 0.3s ease;
}
