html,
body {
  &.disableScroll {
    overflow: hidden;
  }

  font-family: "Be Vietnam";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #333 bolder {
    font-weight: 900;
  }

  bold,
  strong {
    font-weight: 600;
  }

  thin {
    font-weight: 300;
  }
  input,
  button,
  textarea,
  select {
    outline: none;
  }

  .main-title {
    font-size: 22px;
    font-weight: 900;
    margin: 0 0 20px;
    @media (min-width: 768px) {
      font-size: 24px;
      margin: 0 0 25px;
    }
    @media (min-width: 992px) {
      font-size: 26px;
      margin: 0 0 30px;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
      margin: 0 0 35px;
    }
    &-lg {
      font-size: 30px;
      font-weight: 900;
      margin: 0 0 20px;
      @media (min-width: 768px) {
        font-size: 32px;
        margin: 0 0 25px;
      }
      @media (min-width: 992px) {
        font-size: 34px;
        margin: 0 0 30px;
      }
      @media (min-width: 1200px) {
        font-size: 36px;
        margin: 0 0 35px;
      }
    }
  }

  &.admin-bar {
    .fixed-top {
      top: 46px;
      &.sticky {
        @media screen and (max-width: 600px) {
          top: 0;
        }
      }
      @media screen and (min-width: 783px) {
        top: 32px;
      }
    }

    #header-menu {
      &.sticky {
        top: 46px;

        @media screen and (min-width: 783px) {
          top: 32px;
        }

        @media screen and (max-width: 600px) {
          top: 0;
        }
      }
    }
  }
}

[data-animate] {
  visibility: hidden;
}

.font-default {
  font-size: 1rem !important;
}

/*-----------------------------------------------------*/
/*-------------------   link   --------------------*/
/*-----------------------------------------------------*/

a {
  transition: all 0.3s ease-in-out;
  color: #333;

  &:hover {
    text-decoration: none;
    color: #ff1945;
  }
}

/*-----------------------------------------------------*/
/*-------------------   breadcrumb   --------------------*/
/*-----------------------------------------------------*/
.breadcrumb {
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    margin: 0 0 5px;
  }
  @media (min-width: 992px) {
    margin: 0 0 10px;
  }
  @media (min-width: 1200px) {
    margin: 0 0 20px;
  }

  li {
    &:not(.active) {
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;

      @media (min-width: 576px) {
        max-width: 120px;
      }
      @media (min-width: 768px) {
        max-width: 200px;
      }
      @media (min-width: 992px) {
        max-width: 300px;
      }
      @media (min-width: 1200px) {
        max-width: 400px;
      }
      @media (min-width: 1400px) {
        max-width: 500px;
      }
    }
  }

  > span:first-child > span > a {
    font-size: 0;

    &:before {
      content: "\f015";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 16px;
    }
  }
}

/*-----------------------------------------------------*/
/*-------------------   interests   --------------------*/
/*-----------------------------------------------------*/
#interests {
  background-image: url(../images/bg/bg_interest_block.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/*-----------------------------------------------------*/
/*-------------------   section blocks   --------------------*/
/*-----------------------------------------------------*/
section.block,
footer.block {
  padding: 2rem 0;
  @media (min-width: 576px) {
    padding: 2rem 0;
  }
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
  @media (min-width: 992px) {
    padding: 2rem 0;
  }
  @media (min-width: 1200px) {
    padding: 2rem 0;
  }
}

/*-----------------------------------------------------*/
/*-------------------   FONT SMALL   --------------------*/
/*-----------------------------------------------------*/
.extra-link,
footer a {
  font-size: 13px;
}

/*-----------------------------------------------------*/
/*-------------------   border top sm-to-md  --------------------*/
/*-----------------------------------------------------*/
.has-border-top-sp {
  @media (max-width: 767px) {
    > :first-child {
      border-top: 4px solid #ff1944;
    }
  }
}


//disable class click
.list-inline .lang-item, .disable-click {
  pointer-events: none!important;
  opacity: 0.7!important;
}