html,
body {
	&.disableScroll {
		overflow: hidden;
	}

	font-family: "Be Vietnam";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;

	bolder {
		font-weight: 900;
	}

	bold {
		font-weight: 600;
	}
	
	thin {
		font-weight: 300;
	}
	input, button, textarea, select{
		outline: none;
	}

	&.admin-bar{
		.fixed-top {
			top: 46px;
			@media screen and (min-width:783px){
				top: 32px;
			}
		}
	}
}

[data-animate] {
	visibility: hidden;
}

/*-----------------------------------------------------*/
/*-------------------   link   --------------------*/
/*-----------------------------------------------------*/

a {
	&:hover {
		text-decoration: none;
	}
}

/*-----------------------------------------------------*/
/*-------------------   loadmore   --------------------*/
/*-----------------------------------------------------*/

.loadmore {
	text-align: center;
	overflow: hidden;
	margin-top: $spacer * 3;
	min-height: $spacer * 2;

	&.loadding {
		a {
			display: none;
		}

		&:after {
			top: $spacer;
		}
	}

	a {
		position: relative;
		display: inline-block;

		&:before {
			content: '';
			width: 50vw;
			height: 1px;
			background-color: $blue;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&:after {
			content: '';
			width: 50vw;
			height: 1px;
			background-color: $blue;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		i {
			font-size:  $spacer * 2;
		}
	}
}
